body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.l-h1{
    background-color: #ff750f; 
    padding: 10px;
    padding-right: 10px;
    color:#522504;
}
.r-h1{
    background-color: #522504;
    padding: 10px;
    padding-left: 2px;
    color: #ff750f;
}

header {
    color: rgb(102, 42, 8);
    padding: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
       
nav a {
    color: #ff750f;
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    position: relative;
    padding: 0 10px;
    letter-spacing: 1px;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: #ff750f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #ab8446;
}

nav {
    margin-right: 50px;
    margin: auto;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.main-content {
    color: #ff750f;
    margin-top: 50px;
    margin-left: 70px;
    flex-grow: 1;
}

h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
    border-style: solid;
}
.gs {
    background-color: #ff750f;
    color: white;
}
.si {
    background-color: #ffffff;
    color: #ff750f;
    border-color: #ff750f;
}
button:hover {
    background-color: #555;
}

footer{
    margin-left: 10px;
    color: #ff750f;
}

.shape {
    width: 200px;
    height: 200px;
    fill: #FF750F;
    position: absolute;
}

.shape-top-right {
    top: 0;
    right: 0;
}

.shape-middle-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsive Styles */
@media only screen and (min-width: 368px) and (max-width: 932px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }

    nav {
        margin: 20px 0;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }
    nav a {
        margin-bottom: 20px;
    };

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #ff750f;
        margin-top: 50px;
        padding: 20px;
        flex-grow: 1;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 36px;
    }

    button {
        font-size: 16px;
    }

    footer {
        padding: 20px;
        text-align: left;
        color: #ff750f;
        display: flex;
        justify-content: space-around;
        align-items: left;
        margin-left: 10px;

    }
}